/*LOAD*/

/*#loader-wrapper{
  width: 100%;
  height:1000px;
  z-index: 1000;
  background-color: black;
  position:absolute;
}*/

#loader{
  width:350px;
  margin: 0px auto;
}

/*GLOBAL*/

.hidden{
  visibility: hidden;
}
a{
  text-decoration: none;
  color:grey;
}
a:hover{
  text-decoration: none;
  color:grey;
}
.main{
  max-width: 600px;
}
.media-object{
  border-radius: 0px;
}
.profile{
  width:100px;
  height:100px;
  background-color: #eee;
  text-align: left;
  font-size: 3vw;
  border-radius: 0px;
}
.media{
  margin-top:35px;
}
.header{
  -webkit-transition:0.5s ease-in-out;
}
.header:hover{
  -webkit-transition:0.5s ease-in-out;
}
#user-name{

  top:10px;
  left:10px;
}
.learnmore{
  -webkit-transition:1s ease-in-out;
}
i {
  font-size: 1.5em;
  margin:5px;
}

/*PTEXTS*/

#ptexts h3{
  text-align: left;
}
#votes{
  display: inline;
}



.ptext{
  text-align: left;
  -webkit-transition:1s ease-in-out;
}
.ptext:hover{
  background-color: #ecf0f1;
}


.countdown{
  width:100%;
  border:1px solid lightgrey;
  text-align: center;
}
#deletePtext{
  margin-left:47%;
}


/*STEXTS*/

.stexts{
  text-align: left;
}
.stext:hover{
  background-color: #bdc3c7;
}

#sendStext{
  display: inline-block;

}
.voteCount, .votesum, .createnews{
  height:100px;
  width: 100px;
  background-color: lightgrey;
  text-align: left;
  border-radius: 0ps;
}
#votes{
  font-size: 1.5em;
}
#vote{
  margin-left: 20%;
}
.smsg{
  float:left;
  margin-left: 0px
}
.votesum{
  font-size: 3em;
}

#userProfileImage{
  display:inline-block;
}
